.MuiBottomNavigationAction-wrapper {
  background-color: transparent;
  z-index: 1;
}

.MuiTouchRipple-root {
  z-index: 2;
}

.MuiSvgIcon-root {
  background-color: transparent;
}

.MuiBottomNavigationAction-label.Mui-selected {
  background-color: transparent;
}

.MuiBottomNavigation-root {
  background-color: #000;
}
